# Server
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Database
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/teamtask?retryWrites=true&w=majority

# JWT Secrets (Generate strong random strings in production)
JWT_SECRET=super_secret_access_key_replace_me_in_prod
JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET=super_secret_refresh_key_replace_me_in_prod
JWT_REFRESH_EXPIRES_IN=7d
